* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}



.img {
    width: 350px;
    padding: 50px 70px 20px 55px;
    margin-left: 470px;
    cursor: pointer;
}

.main-backgrn {
    background-image: url("assets/backgrn.jpg");
    height: 150vh;
    width: auto;
    background-size: cover;
    background-position: center;
	background-attachment: fixed;
    background-repeat: no-repeat;
    
}

#fm-group {
    background-color: white;
	color: #4a5568;
	border-radius: 5px;
	box-sizing: border-box;
	line-height: 2;
    width: 30%;
    margin: 2rem auto 0;
    border-radius: 20px 20px 20px 0px;
    padding: 1rem;
	font-size: 1.125rem;
}

.header {
    display: block;
    text-align: center;
   
}

.fm-text {
    font-size: 24px;
    color: #083e9e;
    padding-top: 30px;
    font-family: sans-serif;
}

.fm-description {
    font-size: 14px;
    font-family: kharla;
    letter-spacing: 0.9px;
    padding-bottom: 20px;
}

.form {
    padding-left: 40px;
}

label {
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 700;   
}

 ::placeholder {
   opacity: 0.5;
}

input[type=text], [type=number], [type=email]  {
	width: 90%;
    padding: 16px;
    background-color: #edf2f7;
	margin: 5px 0 22px 0px;
    border-radius: 3px;
    border-top: none;
    border-left: none;
    font-size: 16px;
    
}


.dropdown {
    width: 90%;
    padding: 16px;
    background-color: #edf2f7;
	margin: 5px 0 22px 0px;
    border-radius: 3px;
    border: none;
    color: #4a5568;
    font-size: 1.125rem;
    
}

.dropdown {
    width: 90%;
    padding: 16px;
    background-color: #edf2f7;
	margin: 5px 0 22px 0px;
    border-radius: 3px;
    border: none;
    color: #4a5568;
    font-size: 16px;
 
}


 .dropdown-content {
    background-color: white;
    padding: 20px 10px;
    margin: 20px 10px;
    font-size: 16px;
    line-height: 300%;
    max-height: 0px;
    font-size: 20px;
    background-attachment: fixed;
   

}

.btn {
    width: 83%;
    padding: 16px;
    text-align: center;
    background-color: #083e9e;
    color: #ffffff;
    font-size: 1rem;
	margin: 5px 0 22px 40px;
    border-radius: 3px;
    border: none;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0;
    cursor: pointer;
}

.btn:hover {
    width: 83%;
    padding: 16px;
    text-align: center;
    background-color: #052e75;
    color: #ffffff;
    font-size: 1rem;
	margin: 5px 0 22px 40px;
    border-radius: 3px;
    border: none;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0;
    cursor: pointer;

}

.login {
    margin-top: 60px;
    margin-left: 530px;
}

.login a {
    text-align: center;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.login a:hover {
    opacity: 0.7;
    cursor: pointer;
}


